.book {
  display: flex;
}

.book:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book_cover_image {
  width: 120px;
  height: 175px;
}

.book_details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 12px;
}

.available_yes {
  font-size: 12px;
  color: #11d211;
  font-weight: bold;
  margin: 8px 0px;
}

.available_no {
  font-size: 12px;
  color: red;
  font-weight: bold;
  margin: 8px 0px;
}

.book_text {
  font-size: 12px;
  margin: 4px 0px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.metrics {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.separator {
  border-right-width: 1px;
  border-right-color: #80808094;
  border-right-style: solid;
  margin: 0 8px;
}

.middle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 4px;
}

.feedback {
  display: flex;
  justify-content: space-around;
}
